.menu {
    position: relative;
    width: var(--deployed-menu);

    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-list:first-child {
    overflow-y: auto;
}

.menu-list::-webkit-scrollbar {
    display: none;
}

.menu-list:last-child {
    display: flex;
    flex: 1;
    justify-self: flex-end;
}

.menu-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.scrollable {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}


.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 80%;
    height: 40px;
    
    padding: 10px;
    margin: 10px 0;
    border-radius: 0 25px 25px 0;
}

.menu-item:hover {
    background: var(--btn-bg-color);
    box-shadow: 0 0 5px 0 #b5bbbe;
    color: var(--brand-txt-color)
}

.menu-item i {
    margin: 0 10px 0 20px;
}

.menu-item img {
    height: 20px;
    margin: 0 15px;
    /* filter: drop-shadow(0px 0px 3px var(--pri-revert-color)) */
}

.menu-item span {
    display: block;
}

.arrow {
    cursor: pointer;
}

.arrow img {
    text-shadow: 0 0 5px 2px #1f2224;
    transform: rotate(180deg);
}

.menu.collapsed {
    width: var(--collapsed-menu);
}

.menu.collapsed .menu-item {
    width: 90%;
}

.menu.collapsed .menu-item span, .menu.collapsed .menu-item .style {
    display: none;
}

.menu.collapsed .arrow img {
    transform: rotate(0deg);
}

@media screen and (max-width: 640px){
    .menu {
        width: var(--collapsed-menu);
    }
    .menu-item {
        width: 100%;
    }
    .menu-item span, .menu-item.arrow, .menu-item .style {
        display: none;
    }
}