.contenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 5px 0;
    padding: 0 20px;
    width: 100%;
    max-height: 30px;
    background: linear-gradient(to top, rgba(64, 46, 68, 0.774) 7%, rgba(204, 204, 230, 0), rgba(64, 46, 68, 0.774) 93%);
}

.line img {
    height: 20px;
    width: 20px;
}

.line.header > div {
    line-height: 40px;
    font-weight: bolder;
}


.line > * {
    flex: 1;
}