.modal:after {
    background-image: url('/public/media/img/svg/membres.svg') no-repeat;
}

.on-off-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}