.serv-list, .member-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.member-list {
    padding: 0 10%;
    margin: 0;
}

.addServer_button {
    position: absolute;
    background: var(--btn-bg-color);
    color: var(--brand-txt-color);

    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 60px;
    right: 40px;

    font-size: larger;
    font-size: 1.9em;
    font-weight: bolder;

    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 7px 0 var(--pri-box-shadow-color);
}

.addServer_button:hover {
    transform: scale(1.1);
    cursor: pointer;
}