:root {
    --pri-bg-color: ;
    --sec-bg-color: ;
    --pri-txt-color: ;
    --brand-txt-color: ;
    --btn-bg-color: ;
    --collapsed-menu: ;
    --deployed-menu: ;
    --pri-revert-color: ;
    --modal-bg: ;
}