.footer {
    position: absolute;
    background: transparent;

    bottom: 0;
    left: 0;
    right: 0;
    
    height: 20px;
    font-size: .7rem;
    text-align: right;
    padding-right: 10px;
}