.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 5px 0;
    width: 100%;
    background: linear-gradient(to top, rgba(65, 65, 65, 0.774) 5%, rgba(204, 204, 230, 0), rgba(65, 65, 65, 0.774) 95%);
}

.line img {
    height: 20px;
    width: 20px;
}

.line.header > div {
    line-height: 40px;
    font-weight: bolder;
}


.line > * {
    flex: 1;
}