.socials {
    position: relative;
    margin: 0 20px;
}

.social-list {
    display: flex;
    flex-direction: row;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sec-bg-color);

    height: 45px;
    width: 45px;
    margin: 5px;

    border-radius: 50%;
    box-shadow: 2px 2px 7px 1px var(--pri-box-shadow-color);

    cursor: pointer;
}

.social-item img, .social-item svg {
    height: 27px;
    width: 27px;
}

.social-item:hover {
    transform: scale(1.2);
    box-shadow: 0 0 7px 0 #b5bbbe;
}